:root,
:root::after,
:root::before {
    --color-second: #510088;
    --color-first: #1679ff;
    --color-third: #fff;
}

body,
h1,
h2,
h3 {
    margin: 0px;
    font-weight: normal;
}

body {
    font-family: "Fira Code", sans-serif;
}

img {
    user-select: none;
    pointer-events: none;
}
