:root {
    --color-frist: #4da6d1;
    --color-second: #2c9cb4;
    --color-third: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-second);
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

header h1 {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--color-third);
    text-shadow: 5px 5px 0 #000;
}

header img {
    width: 60px;
    height: 60px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--color-third);
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.menu::before {
    content: "";
    background-color: var(--color-frist);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    background-color: var(--color-frist);
    width: 170px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
    transition: box-shadow 300ms;
    box-sizing: border-box;
}

.button:hover {
    box-shadow: 0px 0px 0 #000;
}

main {
    position: relative;
}

.background-image {
    width: 100%;
}

.container-buttons {
    position: absolute;
    top: 338px;
    left: 181px;
}

.container-buttons a {
    margin-right: 112px;
}