.button {
    display: inline-block;
    background-color: #AA52FF;
    box-shadow: 5px 5px 0 #000;
    padding: 17px 20px;
    margin-right: 0;
    transition: box-shadow, 300ms;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.button:hover {
    box-shadow: 0px 0px 0 #000;

}