.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-second);
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.header h1 {
    font-family: "Press Start 2P", sans-serif;
    color: var(--color-third);
    text-shadow: 5px 5px 0 #000;
}
