.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: var(--color-second);
    text-shadow: 4px 4px 0 #000;
}

.main-title.-second {
    color: var(--color-third);
    text-shadow: none;
    text-align: center;
}
