.main-section {
    background-color: var(--color-first);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid var(--color-second);
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-bottom: 10px solid var(--color-first);
}
