.progress-bar {
    height: 40px;
    border: 5px solid #000;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--color-third);
}

.progress-bar::-webkit-progress-value {
    background-color: var(--color-second);
}

.progress-bar::-moz-progress-bar {
    background-color: var(--color-third);
}

.progress-bar::-moz-progress-value {
    background-color: var(--color-second);
}
