.project-card {
    align-items: center;
    background-color: var(--color-second);
    box-shadow: 10px 10px var(--color-third);
    display: flex;
    height: 280px;
    justify-content: center;
    width: 280px;
}

.project-card.second {
    background-color: #4c5b84;
}

.project-card.third {
    background-color: var(--color-first);
}
