.section {
    background-color: var(--color-first);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 5px solid var(--color-second);
}

.section .main-title {
    margin-bottom: 60px;
}
