.title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #6B66FF;
    text-shadow: 4px 4px 0 #000;
}

.title._second {
    color: white;
    text-shadow: none;
    text-align: center;
}